<div style="max-width: 600px;margin: 0 auto;padding-bottom: 25px;">
  <div style="text-align:center;background:#fff;padding:12px 0 20px">
    <img class="js lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0077/1745/3881/files/Goodfair_Wordmark_Grass_RGB_360x.png" data-sizes="auto" alt="Goodfair" style="max-width: 180px">
    <%= image_tag "goodfair_logo.png", style: 'width: 100%;' %>
  </div>
  <%= image_tag "challenge_email.png", style: 'width: 100%;' %>
  <div style="text-align: center; color: #3B7091; font-family: AvantGarde, sans-serif;">
    <p style="font-size: 18px;max-width:80%; margin: 25px auto 0;"><%= @name %> pledged to #nonewthings and wants to challenge you to take the pledge. Get rewarded and reward your friend by <a href="https://goodfair.com/pages/nonewthings?view=no-new-things&hashed_email=<%= @hashed_email %>&challenge_email=<%= @challenge.email %>">PLEDGING NOW</a></p> 
    <p style="font-size: 18px;max-width:80%; margin: 25px auto;"><strong>Earn $5 worth</strong> of free Green Points to jumpstart your secondhand living life-style and do good by Mama Earth!</p>
    <a href="https://goodfair.com/pages/nonewthings?view=no-new-things&hashed_email=<%= @hashed_email %>&challenge_email=<%= @challenge.email %>" style="display: inline-block;letter-spacing: 1px;font-size: 20px;font-family: 'Frankfurter Medium Std', sans-serif;text-decoration: none;text-transform: uppercase;background: #3B7091;color: #fff;padding: 10px 20px">Pledge Now</a>
  </div>
</div>